.card {
  position: relative;
  margin: 32rpx;
  border-radius: 12rpx;
  overflow: hidden;
  box-sizing: border-box;
  border: 3rpx solid #fff;
}

.card--active {
  border-color: #0052d9;
}

.card--active::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;

  // case 1
  border: 14px solid #0052d9;
  border-bottom-color: transparent;
  border-right-color: transparent;

  // case 2
  // border-width: 28px 28px 28px 0;
  // border-style: solid;
  // border-color: #0052d9 transparent transparent transparent;
}

// 页面布局
.skyline {
  // margin: 32rpx;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.scroll-view {
  flex: 1;
  height: 0;
  padding-bottom: 60rpx;
}

.title {
  display: block;
  font-size: 32rpx;
  line-height: 32rpx;
  margin-top: 32rpx;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row,
.row-reverse {
  width: 100%;
  background-color: pink;
  margin-bottom: 32rpx;
  padding: 32rpx;
  box-sizing: border-box;
}

.row-reverse {
  flex-direction: row-reverse;
}

.textOVerFlow {
  width: 200rpx;
  background-color: gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// swiper
.swiper-item {
  display: block;
  height: 150px;
}

.demo-text-1 {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #1aad19;
  color: #ffffff;
  font-size: 36rpx;
}
.demo-text-1::before {
  content: 'A';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.demo-text-2 {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #2782d7;
  color: #ffffff;
  font-size: 36rpx;
}
.demo-text-2::before {
  content: 'B';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.demo-text-3 {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  color: #353535;
  font-size: 36rpx;
}
.demo-text-3::before {
  content: 'C';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white-space-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 32rpx;
  box-sizing: border-box;
}

.white-space {
  flex: 1;
  overflow-x: hidden;
  background-color: pink;
}

.white-space-wrapable {
  // width: 100%; // skyline 必须要设置 width 才能阻止换行
  // display: inline-block;
  // display: block;
  // display: inline;
  white-space: normal;
}

.animation {
}

.divider-border {
  display: flex;
  border-color: pink;
  border-style: solid;
  border-width: 0;
  align-items: center;
  margin-top: 20rpx;

  &::before,
  &::after {
    content: '';
    display: block;
    flex: 1;
    box-sizing: border-box;
    border: inherit;
    border-color: inherit;
    border-style: inherit;
    border-top-width: 1px;
    transform: scaleY(0.5);
    // transform-origin: bottom; // skyline 必须显示设置
  }
}

.divider__content {
  margin: 0 24rpx;
}

.inline-flex__box {
  display: block;
  height: 96rpx;
  line-height: 48rpx;
  background-color: pink;
}

.inline-flex {
  display: inline-flex;
}

.empty__box {
  display: flex;

  &__text1 {
    background-color: pink;
    &:not(:empty) {
      margin-right: 16px;
    }
  }
}

.navigator-btn {
  padding: 16rpx;
  color: white;
  background-color: #0052d9;
}

.section {
  margin: 32rpx 0;
}

// 栅格
.dark {
  background-color: #0052d9;
}

.light {
  background-color: #366ef4;
}

.dark,
.light {
  background-clip: content-box;
  color: #fff;
  font-size: 28rpx;
  line-height: 96rpx;
  margin-bottom: 32rpx;
  text-align: center;
}

.test-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.test-col {
  box-sizing: border-box;
}

.test-col-4 {
  width: calc(4 * 100% / 24);
}
.test-col--offset-4 {
  margin-left: calc(4 * 100% / 24);
}

.test-col-16 {
  width: calc(16 * 100% / 24);
}
